@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Public+Sans:wght@300;400;700&display=swap');


/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none; 
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


/* Colors Variables */
:root {
    
    /* Primary */ 
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* Neutral */ 
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

html {
    font-size: 112.5%;
    overflow-x: hidden;
}

/* Body */

body {
    background: var(--Very-Light-Gray);
    color: var(--Grayish-Blue);
}

/* HEADER SECTION DESIGN */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    padding: 1rem 10%;
    background: var(--White);
    z-index: 1000;
}

.header.sticky {
    box-shadow: 0 .5rem 1rem #000001;
}

/* Nav-Bar */
.nav_Bar {
    margin-right: 7.5rem;
}

/* Nav-Bar  Elements*/
.nav_Bar a {
    color: var(--Grayish-Blue);
    font-weight: 500;
    font-size: small;
    margin-left: 1rem;
    transition: .3s;
}

/* BUTTON BOX */
.btn_Box {
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* Section Buttons */
.btn_Box .btn {
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    position: relative;
    color: var(--White);
    font-weight: 500;
    font-size: small;
    width: 8.2rem;
    height: 2.3rem;
    background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan)) ;
    border-radius: 12rem;
    z-index: 1;
}

/* HOME SECTION DESIGN */
section {
    min-height: 100vh;
    padding: 10rem 10% 4rem;
}

/* Home - Section */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
    background-color: transparent;
    background: url(images/image-mockups.png) no-repeat, url(images/bg-intro-desktop.svg)  no-repeat;
    background-size: calc(60% - 60px), calc(92% - 20px);
    background-position:left 40.2rem top -2.8rem, left 33rem top -10.2rem;
} 

/* Contenido de Home - Section */
.home_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 99;
}

/* H1 del Contenido del Home */
.home_Content h1 { 
    color: var(--Dark-Blue);  
    font-size: 2.9rem;
    font-weight: 400;
    line-height: 1.2;
}

/* P del Contenido del Home */
.home_Content p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:medium;
    width: 40%;
    margin: 1rem 0 2rem; 
}

/* Home Button*/
.home_button {
    display: flex;
    justify-content: left;
    position: absolute;
    bottom: 4.5rem;
    width: 80%; 
}