@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Public+Sans:wght@300;400;700&display=swap');

/*  COLORS VARIABLES */
:root {
    
    /* Primary */ 
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* Neutral */ 
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}


/* GENERAL */
* {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none; 
    outline: none;
    scroll-behavior: smooth; 
}

html {
    font-size: 112.5%;
    overflow-x: hidden;
}

/* BODY */
body {
    color: var(--Grayish-Blue);
    background-color: var(--Very-Light-Gray);
}

/* HEADER SECTION DESIGN */
.header {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background-color: var(--White);
    z-index: 2000;
}

.header_Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%
}

/* //scroll sections //sticky header */
.header.sticky {
    box-shadow: 0 .5rem 1rem var(--Dark-Blue);
}

.header_Logo {
    align-items: center;
    font-size: 2.2rem;
    font-weight: 600;
}

/* Nav-Bar  Elements*/
nav a {   
    position: relative;
    text-align: center;
    text-decoration: none;
    color: var(--Grayish-Blue);
    font-weight: 400;
    font-size: small;
    line-height: 70px;
    margin: .8rem;
    z-index: 2;
}

nav .animation {
    position: relative;
    height: 5px;
    bottom: 0;
    z-index: 0;
    background: var(--Lime-Green);
    transition: all .5s ease 0s;
}

nav a:nth-child(1) {
    width: 60px;
    
}
nav .start-home,a:nth-child(1):hover~.animation{
    width: 60px;
    left: 5px;
}

nav a:nth-child(2) {
    width: 60px;
}
nav .start-about,a:nth-child(2):hover~.animation{
    width: 60px;
    left: 72px;
}

nav a:nth-child(3) {
    width: 60px;
}
nav .start-contact,a:nth-child(3):hover~.animation{
    width: 60px;
    left: 150px;
}

nav a:nth-child(4) {
    width: 60px;
}
nav .start-blog,a:nth-child(4):hover~.animation{
    width: 60px;
    left: 219px;
}

nav a:nth-child(5) {
    width: 60px;
}
nav .start-careers,a:nth-child(5):hover~.animation{
    width: 60px;
    left: 290px;
}

.nav_Bar a.after,
.nav_Bar a.active {
    color: black;
}

/* Menu Icon (header) */
#menu_Icon {
    font-size: 3.6rem;
    cursor: pointer;
    display: none;
}

/* BUTTON BOX */
.btn_Box {
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* Section Buttons */
.btn_Box .btn {
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    position: relative;
    color: var(--White);
    font-weight: 500;
    font-size: small;
    width: 8.2rem;
    height: 2.3rem;
    background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan)) ;
    border-radius: 12rem;
    z-index: 1;
}

/* HOME SECTION DESIGN */
section {
    min-height: 100vh;
    padding: 10rem 10% 4rem;
}

/* Home - Section */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

/* Home_Content */
.home_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* H1 of Home_Content */
.home_Content h1 { 
    color: var(--Dark-Blue);  
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
}

/* P of Home_Content */
.home_Content p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:medium;
    width: 38%;
    margin: 1.2rem 0 2rem; 
}

/* Home Button*/
.home_button {
    display: flex;
    justify-content: left;
    position: absolute;
    bottom: 4.5rem;
    width: 80%; 
}

/* DOBLE BACKGROUND */
.desktop_Background {
    position: absolute;
    top: -32vh;
    left: 31rem;
}

.desktop_Background_Two {
    position: absolute;
    top: -8.8vh;
    left: 39.6rem;
}

/* Mobile Desktop*/
.mobile_Background {
    display: none;
}

/* ABOUT SECTION DESIGN */
.about { 
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    background-color: var(--Light-Grayish-Blue);
    padding-bottom: 0;
}

.about .heading { 
    color: var(--Dark-Blue);  
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.2;
}

.about_Content p {
    font-size:medium;
    width: 54%;
    margin: 1.4rem 0 2rem; 
}

/* CAREERS SECTION DESIGN */
.careers {
    display: grid;
    place-items: center;
    min-height: fit-content;
    padding: 2rem 10% 2rem; 
    background-color: var(--Light-Grayish-Blue); 
}

.careers_Box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.careers_Content {
    text-align: start;
    width: 25%;
}

.content img {
    margin-bottom: 1.9rem;
}

.careers_Content h3 {
    color: var(--Dark-Blue);
    font-size: 1.3rem;
    font-weight: 400;
}

.careers_Content p {
    font-size: .815rem;
    line-height: 1.7;
    margin: 1.8rem 0 1.8rem;
}

/* BLOG SECTION DESIGN */

.blog {
    display: grid;
    place-items: start;
    min-height: min-content;
    padding: 6rem 10% 6rem;
}

.blog .heading {
    color: var(--Dark-Blue);  
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 2.8rem;  
}

.blog_Box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1.4rem;
}

.blog_Content {
    text-align: start;
    width: 25%;
    background-color: var(--White);
    border-radius: .4rem;
}

.blog_Content img {
    width: 100%;
    height: 11.2rem;
    object-fit: cover;
    border-radius: .4rem .4rem 0 0;
}

.blog_Content .content {
    margin: 1rem 1.2rem 2rem;
}

.blog_Content .author {
    font-size:x-small;
    margin-bottom: .8rem;
}

.blog_Content a {
    color: var(--Dark-Blue);
    font-size: 1rem;
    font-weight: 400;
}

.blog_Content a:hover,
.blog_Content a.active {
    color: var(--Lime-Green);
}

.blog_Content p {
    font-size: .7rem;
    line-height: 1.7;
    margin: .5rem 0 .5rem;
}


/* CONTACT SECTION DESIGN */
.contact {
    display: grid;
    align-items: center;
    min-height: fit-content;
    padding: 1.6rem 10% .8rem;
    background-color: var(--Dark-Blue);
}

.contact_Box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact_Column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10% 24%;
}

.contact_Content_Socials {
    display: flex;
}

.contact_Content_Socials .contact_Logo{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.contact_Column .contact_Net {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: .8rem;
    gap: .68rem;
}

.contact_Content .contact_Link {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: -1.2rem;
    width: 100%;
    height: 100%;
}

.contact_Link ul {
    display: grid;
    font-size: smaller;
    font-weight: 400;
    line-height: 2.2;
    width: 11rem;
}
.contact_Link a {
    color: var(--Light-Grayish-Blue);
}
.contact_Link a:hover,
.contact_Link a.active {
    color: var(--Lime-Green);
}

.contact_Content_Button {
    display: flex;
    align-items: center;
    margin-top: -1rem;
    height: 100%;
}

.contact_Content_Button .contact_button{
    justify-content: end;
}

.contact_Content_Button p {
    justify-content: end;
    font-size: smaller;
    font-weight: 400;
    padding-top: 1.7rem;
}

/* FOOTER DESIGN */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    width: 100%;
    height: 100%;
    padding: 2rem 10% 2rem; 
    background-color: var(--Light-Grayish-Blue);
}

.footer a {
    font-size: medium;
    font-weight: bold;
    letter-spacing: .1rem;
    color: var(--Dark-Blue)
}

/* Footer Button */
.footer_BtnToTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--Lime-Green);
    border-radius: 50%;
    font-size: 20px;
    color: var(--Lime-Green);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.footer_BtnToTop a:hover {
    color: var(--Dark-Blue);
}

.footer_BtnToTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--Grayish-Blue);
    z-index: -1;
    transition: .3s; 
}

.footer_Text p:nth-child(1) {
    font-size: 1.2rem;
}
.footer_BtnToTop a:hover::before {
    width: 100%;
}

/*************** RESPONSIVE DESIGN ***************/

@media (max-width: 462px) {
    html { 
        font-size: 62%;
        margin: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - .1%);
        height: 7rem;
        padding: 1rem 5% 1rem;
    }

    .header_Container {
        width: 100%;
    }

    .header_Container .header_Logo {
       align-items: center;
       font-size: smaller;
    }

    .header_button {
        display: none;
    }

    .menu_Icon {
        color: var(--Dark-Blue);
        justify-content: end;
        align-items: end; 
    }
    
    #menu_Icon {
        display: block;
    }

    nav .animation {
        display: none;
    }
    
    .nav_Bar {
        position: absolute;
        text-align: center;
        top: 100%;
        left: -100%;
        width: 86%;
        background: var(--White);
        box-shadow: 0 .5rem 2rem var(--Dark-Blue);
        transition: .25s ease;
    }

    .nav_Bar.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 9.6rem;
        left: 2.6rem; /*1*/
        padding: 0 0 0 0;
        border-radius: .5rem;
    }

    .nav_Bar a {
        display: block;
        color: var(--Dark-Blue);
        font-size: 2rem;
        font-weight: 400;
        height: 6rem;
        padding: none;
        margin: 0 0 1rem 0;
    }

    .desktop_Background .background_One {
        display: none;       
    }

    .mobile_Background {
        display: block;
        position: absolute;
        width: calc(100% - .1%);
        top:   1vh;
        left: .0.5rem;
        z-index: -1;
    }

    .mobile_Background .mobile_One {
        width: 100%;
    }

    .desktop_Background_Two {
        display: block;
        position: absolute;
        width: calc(100% - 2.55%);
        top: -7.6rem;
        left: .4rem;
        z-index: -1;
    }
    
    .background_Two {
        width: calc(100%);
    }
    
    /* HOME SECTION DESIGN */
    .home {
        width: calc(100% - 1%);
        margin-top: 23rem;
        min-height: 60rem;
        padding: 1rem 5% 1rem;
    }

    .home .home_Content{
        display: flex;
        flex-direction: column;        
        text-align: center;
        max-height: 28.5rem;
        margin-top: 20rem;
    }

    .home_Content h1 {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2;
    }

    .home_Content p {
        font-size: 1.6rem;
        line-height: 1.6;
        width: 100%;
        margin-top: 3rem;
    }

    .home .home_button {
        display: flex; 
        width: auto;
        height: auto;
        margin-bottom: -18rem;
    }

    .home .home_button .btn {
        color: var(--White);
        font-size: medium;
        font-weight: 500;
        width: 16.5rem;
        height: 4.8rem; 
    }

    /* ABOUT SECTION DESIGN */
    .about {
        justify-content: center;        
        text-align: center;
        width: calc(100% - 1%);
        min-height: 28rem;
        padding: 1rem 5% 1rem;
    }

    .about .heading { 
        font-size: 3.8rem;
        font-weight: 400;
        line-height: 1.2;
        margin-top: 7rem;
    }

    .about_Content p {
        line-height: 1.6;
        width: 100%;
    }

    /* CAREERS SECTION DESIGN */
    .careers {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: calc(100% - 1%);
        padding: 1rem 5% 5rem;
    }

    .careers_Box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: max-content;
        margin-top: 1.4rem;
    }

    .careers_Content {
        width: 100%;
        text-align: center;
    }

    .careers_Content content {
        width: 100%;
    }

    .careers_Content .content h3 {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 400;
    }

    .careers_Content p {
        font-size: 1.7rem;
        line-height: 1.6;
        width: 100%;
    }

    /* BLOG SECTION DESIGN */
    .blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: calc(100% - 1%);
        padding: 1.5rem 5% 1rem;
        margin-bottom: 8rem;
    }

    .blog .heading {
        font-size: 3.6rem;
        font-weight: 400;
        margin-top: 8rem;
    }

    .blog_Box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: .6rem;
        gap: 2.5rem;
    }

    .blog_Content {
        width: 100%;
        text-align: center;
    }
    
    .blog_Content img {
        height: 23rem;
        border-radius:  .8rem .8rem 0 0;
    }

    .blog_Content .content {
        text-align: start; 
        width: 90%;
        margin-top: 2rem;
        padding: 1rem;
    }

    .blog_Content .content .author {
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
    }

    .blog_Content .content a {
        font-size: 1.9rem;
    }
    .blog_Content .content p {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-top: 1rem;
    }

    /* CONTACT SECTION DESIGN */
    .contact {
        width: calc(100% - .1%);
        height: 58rem;
    }
    .contact .contact_Box{
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        padding: 1.6rem 10% .8rem;
    }

    .contact .contact_Box .contact_Column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .contact_Content_Socials .contact_Logo {
        justify-content: center;
    }
    .contact_Content_Socials .contact_Net {
        justify-content: center;
        margin-top: 2rem;
        gap: 1.7rem;
    }

    .contact_Net .icon_Socials {
        width:2.8rem; 
        height:2.8rem;
    }

    .contact_Column .contact_Link {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2rem;
    }

    .contact_Box .contact_Content_Button .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact_Content_Button .contact_button .btn {
        color: var(--White);
        font-size: medium;
        font-weight: 500;
        width: 16.5rem;
        height: 4.8rem;
    } 

    .contact_Content_Button p {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    /* FOOTER DESIGN */
    .footer {
        display: flex;
        flex-direction: column;
        font-size: small;
        width: calc(100% - 1%);
        gap: 2rem;
    }
    .footer .attribution {
        text-align: center;
    }

    .footer .footer_BtnToTop {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 375px) {
    html { 
        font-size: 62%;
        margin: 0;
    }

    .header {
        width: calc(100% - .1%);
        height: 7rem;
        padding: 1rem 4% 1rem;
    }

    .header_Container .header_Logo {
       align-items: center;
       font-size: smaller;
    }

    .header_button {
        display: none;
    }

    .menu_Icon {
        justify-content: end;
        align-items: end;
    }
    
    #menu_Icon {
        display: block;
        margin-right: -.5rem;
        
    }

    nav .animation {
        display: none;
    }
    
    .nav_Bar {
        position: absolute;
        text-align: center;
        top: 100%;
        left: -100%;
        width: 86%;
        background: var(--White);
        box-shadow: 0 2rem 10rem var(--Grayish-Blue);
        transition: .25s ease-in;
    }

    .nav_Bar.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 9.6rem;
        left: 2.6rem; /*1*/
        padding: 0 0 0 0;
        border-radius: .5rem;
    }

    .nav_Bar a {
        display: block;
        color: var(--Dark-Blue);
        font-size: 2rem;
        font-weight: 400;
        height: 6rem;
        padding: none;
        margin: 0 0 1rem 0;

    }

    .desktop_Background .background_One {
        display: none;       
    }

    .mobile_Background {
        display: block;
        position: absolute;
        top:   1vh;
        left: .05rem;
        z-index: -1;
    }
    
    .desktop_Background_Two .background_Two {
        display: block;
        position:absolute;
        max-width: 38rem;
        top: -.5rem;
        z-index: 1;
    }
    
    /* HOME SECTION DESIGN */
    .home {
        margin-top: 15rem;
        min-height: 55rem;
        padding: 1rem 5% 1rem;
    }

    .home .home_Content{
        max-height: 28.5rem;
        margin-top: 12rem;
    }

    .home_Content h1 {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2;
    }

    .home_Content p {
        font-size: 1.5rem;
        line-height: 1.6;
        width: 100%;
        margin-top: 3rem;
    }

    .home .home_button {
        margin-bottom: -2.5rem;
    }

    .home .home_button .btn {
        color: var(--White);
        font-size: medium;
        font-weight: 500;
        width: 16.5rem;
        height: 4.8rem; 
    }

    /* ABOUT SECTION DESIGN */
    .about {
        width: calc(100% - .7%);
        min-height: 28rem;
        padding: 2rem 5% 1rem;
    }

    .about .heading { 
        font-size: 3.8rem;
        font-weight: 400;
        line-height: 1.2;
        margin-top: 5rem;
    }

    .about_Content p {
        font-size: 1.5rem;
        line-height: 1.6;
        width: 100%;
    }

    /* CAREERS SECTION DESIGN */
    .careers {
        width: calc(100% - .7%);
        padding: 1rem 5% 5rem;
    }

    .careers_Box {
        margin-top: 1.4rem;
    }

    .careers_Content .content h3 {
        font-size: 2.2rem;
        font-weight: 400;
    }

    .careers_Content p {
        font-size: 1.4rem;
        line-height: 1.6;
        width: 100%;
    }

    /* BLOG SECTION DESIGN */
    .blog {
        width: calc(100% - .7%);
        padding: 1rem 5% 1rem;
        margin-bottom: 8rem;
    }

    .blog .heading {
        font-size: 3.2rem;
        font-weight: 400;
        margin-top: 8rem;
    }

    .blog_Box {
        margin-top: .6rem;
        gap: 2.5rem;
    }

    .blog_Content {
        width: 100%;
    }
    
    .blog_Content img {
        height: 21rem;
        border-radius:  .8rem .8rem 0 0;
    }

    .blog_Content .content {
        width: 90%;
        margin-top: 2rem;
        padding: 1rem;
    }

    .blog_Content .content .author {
        margin-bottom: 1.2rem;
    }

    .blog_Content .content a {
        font-size: 1.6rem;
    }
    .blog_Content .content p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-top: 1rem;
    }

    /* CONTACT SECTION DESIGN */
    .contact {
        width: calc(100% - .1%);
        height: 54rem;
    }
    .contact .contact_Box{
        margin-top: 5rem;
        padding: 1.6rem 10% .8rem;
    }
    
    .contact_Content_Socials .contact_Net {
        gap: 1.5rem;
    }

    .contact_Net .icon_Socials {
        width:2.5rem; 
        height:2.5rem;
    }

    .contact_Column .contact_Content{
        margin-top: -1.5rem;
    }
    .contact_Column .contact_Content .contact_Link a {
        font-size: 1.5rem;
    }

    .contact_Content_Button p {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

}






    


